extends layout 

block content 
    div(class="container vertical")
        div(class="container vertical") Account Information:
            p #{account.profile.username}
            p #{account.profile.bio}
            p #{account.pii.firstname} #{account.pii.lastname}
            p #{account.pii.dob}
            p #{account.pii.email}
            p #{account.pii.phone}
            p #{account.pii.location.city}, #{account.pii.location.state}, #{account.pii.location.country}
        div(class="container")
            p Followers:
        for follower in followers
            div(class="container vertical")
                p #{follower.follower}
