extends layout 

block content 
    div(class="container vertical")
        div(class="container vertical") 
            div(class="container vertical") Account Information:
                p #{account.profile.username}
                p #{account.profile.bio}
            div(class="container vertical") Private Information: 
                p #{account.pii.firstname} #{account.pii.lastname}
                p #{account.pii.dob}
                p #{account.pii.email}
                p #{account.pii.phone}
                p #{account.pii.location.city}, #{account.pii.location.state}, #{account.pii.location.country}
        form(class="container horizontal" method="POST" action=`/account?id=${account._id}`)
            label(for="username") Who Are You?: 
            input(type="hidden" name="followed" value=account.profile.username)
            input(type="text" name="follower" required="required" pattern="^.+$" placeholder="username")
            input(type="submit" value="Follow!")
        div(class="container vertical")
            p Followers:
            for follower in followers
                div(class="container vertical")
                    p #{follower.follower}
